# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

# Testing
.pytest_cache/

# VS Code
.vscode/

# Node (future proof)
node_modules/

# Database
hackplate.db